<h1 *ngIf="isAddMode">Kullanıcı Ekle</h1>
<h1 *ngIf="!isAddMode">Kullanıcı Düzenle</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">İsim</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">İsim Gerekli</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Soyisim</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Soyisim Gerekli</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="username">Kullanıcı Adı</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Kullanıcı Adı Gerekli</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="password">
                Şifre
                <em *ngIf="!isAddMode">(Aynı parolayı korumak için boş bırakın)</em>
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Şifre Gerekli</div>
                <div *ngIf="f.password.errors.minlength">Şifre En Az 6 Karakterden Oluşmalıdır</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Kaydet
        </button>
        <a routerLink="/users" class="btn btn-link">Vazgeç</a>
    </div>
</form>